 <!DOCTYPE html>
<html>
<head>
<title>API Lib</title>
<style>
	body {
		background-color: #E6E6FA;
	}
</style>
</head>
<body>

<h3>API Lib</h3>
<h4>API Lib Commands</h4>
<br>
<div align="center" style="border:1px solid red">
<p class="main">GET:</p>
<p>/cmd/api/data</p>
<br>
<p>GET ID:</p>
<p>/cmd/api/data/2</p>
<br>
</div>
<div align="center" style="border:1px solid red">
<p>POST:</p>
<p>Download and use <a href="https://www.getpostman.com/apps" target="_blank">Postman</a> app</p>
<br>
<img src="/static/postman.jpg" alt="img not loading" style="width:700px;height:228px; border=5">
<br>
<p>Result:</p>
<img src="/static/postman_result.jpg" alt="img not loading" style="width:250px;height:450px; border=5">
<br>
</div>
<p>PUT:</p>
<p>put cmd</p>
<br>
<p>DELETE:</p>
<p>delete cmd</p>
<br>
<h4>Authentification</h4>
<p>tbd</p>
<br>
</body>
</html> 